# Dependencies
node_modules/

# Build
dist/
*.exe

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Go
services/api/api

plan.md
prd.md